

.dashboard {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 1034px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.dashboard .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group2 .rectangle {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 5px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group2 .rectanglecopy {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 8px;
  height              : 5px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group2 .rectanglecopy2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 16px;
  height              : 5px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .iconsearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 281px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .iconsearch .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .iconsearch .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : 1px;
  width               : 322px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 24px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .a1164 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 348px;
  height              : 19px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  letter-spacing      : -0.3px;
  line-height         : 101.0px;
}
.dashboard .a865 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 370px;
  height              : 19px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  letter-spacing      : -0.3px;
  line-height         : 101.0px;
}
.dashboard .a100 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 392px;
  height              : 19px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  letter-spacing      : -0.3px;
  line-height         : 101.0px;
}
.dashboard .a110719 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 415px;
  height              : 19px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  letter-spacing      : -0.3px;
  line-height         : 101.0px;
}
.dashboard .a1107191 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 19px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 318px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  letter-spacing      : -0.41px;
  line-height         : 101.0px;
}
.dashboard .currentdebt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 372px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.dashboard .paidthismonth {
  background-color    : rgba(255,255,255,0.0);
  top                 : 394px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.dashboard .debtfreedate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 417px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.dashboard .debtfreedate .span1 {
  
}
.dashboard .debtfreedate .span2 {
  letter-spacing      : -1.1px;
}
.dashboard .debtfreedate .span3 {
  
}
.dashboard .originaldebt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 350px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.dashboard .welcomeback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.dashboard .youu2019remakinggreat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.dashboard .buttonprimarycopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 748px;
  height              : 50px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .buttonprimarycopy3 .rectangle17 {
  background-color    : rgba(119, 119, 119, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .buttonprimarycopy3 .updatepaymentamoun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.dashboard .youhavepaid74of {
  background-color    : rgba(255,255,255,0.0);
  top                 : 143px;
  height              : auto;
  width               : 292px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.dashboard .howwillachangein {
  background-color    : rgba(255,255,255,0.0);
  top                 : 537px;
  height              : auto;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.dashboard .a465 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 571px;
  height              : auto;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 186px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.dashboard .basedoncurrentp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 437px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(139, 139, 139, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.dashboard .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 148px;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group3 .stroke1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 148px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group3 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 148px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group3 .a74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 37px;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 37.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.79px;
  line-height         : 101.0px;
}
.dashboard .group3 .paid {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 33px;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.79px;
  line-height         : 101.0px;
}
.dashboard .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 478px;
  height              : 2px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .at200moyourdeb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : 35px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(126, 125, 125, 1.0);
  text-align          : right;
  letter-spacing      : -0.24px;
  line-height         : 13.0px;
}
.dashboard .at200moyourdeb .span1 {
  
}
.dashboard .at200moyourdeb .span2 {
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  color               : rgba(0, 0, 0, 1.0);
}
.dashboard .at200moyourdeb .span3 {
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  color               : rgba(126, 125, 118, 1.0);
}
.dashboard .line4copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 808px;
  height              : 1px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .updateaccountprefe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 828px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.8px;
  text-decoration     : underline;
}
.dashboard .yourcurrentpayment {
  background-color    : rgba(255,255,255,0.0);
  top                 : 496px;
  height              : auto;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.dashboard .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 616px;
  height              : 116px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 116px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 116px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group32 .makeapaymentwat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 35px;
  width               : 322px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(126, 125, 118, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 14.0px;
}
.dashboard .group6 .group5 .group32 .monthlypaymentamou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 274px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 17.0px;
}
.dashboard .group6 .group5 .group32 .a2000minimum {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 245px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(137, 135, 135, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 13.0px;
}
.dashboard .group6 .group5 .group32 .rectangle17 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 41px;
  height              : 33px;
  box-sizing          : border-box;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 33px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 .formselectfilled {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 .formselectfilled .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 32px;
  position            : relative;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 .formselectfilled .group21 .rectangle171 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 .formselectfilled .group21 .triangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 6px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 .rectangle17 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 33px;
  box-sizing          : border-box;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group6 .group5 .group4 .other {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(119, 119, 119, 1.0);
  text-align          : left;
  line-height         : 16.8px;
}
.dashboard .group6 .formselectfilledcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 32px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 37px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 .rectangle {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 36px;
  box-sizing          : border-box;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 22px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 .group21 .buttonprimarycopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 44px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 .group21 .buttonprimarycopy2 .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  box-sizing          : border-box;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .group31 .group21 .buttonprimarycopy2 .logout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.dashboard .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 33px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 907px;
  height              : 127px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 127px;
  width               : 320px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .rectangle {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 127px;
  box-sizing          : border-box;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 64px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .group61 .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group61 .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group61 .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group61 .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group61 .servus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 10px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 252px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .group5 .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group5 .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 52px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .group4 .smallbusiness {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group4 .healthcare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group4 .government {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .group4 .partners {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.dashboard .footer2 .footer .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 18px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .ifyouneedhelprec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 6.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 7.0px;
}
.dashboard .footer2 .footer .hotspot9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : 16px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 10px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : 12px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 12px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 247px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 10px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 227px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 12px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboard .footer2 .footer .hotspot8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 10px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}