

.servuspaymentpreferencesdesktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1673px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.servuspaymentpreferencesdesktop .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1470px;
  width               : 23091px;
  position            : absolute;
  margin              : 0;
  left                : -21651px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1470px;
  width               : 23091px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 .rectangle {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 74px;
  box-sizing          : border-box;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 21651px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 41px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 21651px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 22929px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 .hotspot11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1097px;
  height              : 113px;
  width               : 512px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 .hotspot12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1357px;
  height              : 113px;
  width               : 518px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .header .header1 .logout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 23012px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  box-sizing          : border-box;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 1358px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 130px;
  height              : 32px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group2 .rectangle {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 7px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group2 .rectanglecopy {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 12px;
  height              : 7px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group2 .rectanglecopy2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 25px;
  height              : 7px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconsearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 133px;
  height              : 58px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 1290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconsearch .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconsearch .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 43px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 187px;
  height              : 4px;
  width               : 1318px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : 64px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 606px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .buttonprimarycopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 850px;
  height              : 81px;
  width               : 466px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .buttonprimarycopy .rectangle171 {
  background-color    : rgba(119, 119, 119, 1.0);
  top                 : 0px;
  height              : 81px;
  width               : 465px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .buttonprimarycopy .submit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : auto;
  width               : 429px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .buttonprimarycopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 1004px;
  width               : 2984px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .buttonprimarycopy2 .rectangle171 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 922px;
  height              : 81px;
  box-sizing          : border-box;
  width               : 465px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .buttonprimarycopy2 .skipfornow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 949px;
  height              : auto;
  width               : 429px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .buttonprimarycopy2 .hotspot11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 922px;
  height              : 81px;
  width               : 473px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .buttonprimarycopy2 .hotspot12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 2916px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .step2choosepayme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 472px;
  height              : auto;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 410px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 22.0px;
}
.servuspaymentpreferencesdesktop .paymentoptions {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : auto;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 558px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .a465 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 665px;
  height              : auto;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .yourcurrentdebtis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 529px;
  height              : auto;
  width               : 419px;
  position            : absolute;
  margin              : 0;
  left                : 474px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .inputcheckboxoff {
  background-color    : rgba(255,255,255,0.0);
  top                 : 388px;
  height              : 36px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 498px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .inputcheckboxoff .inputcheckboxon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 109px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .inputcheckboxoff .inputcheckboxon .inputcheckboxon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 109px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .inputcheckboxoff .inputcheckboxon .inputcheckboxon1 .onetimenonrepeat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 11.0px;
}
.servuspaymentpreferencesdesktop .inputcheckboxoff .inputcheckboxon .inputcheckboxon1 .onetimenonrepeat .span1 {
  text-align          : justify;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .inputcheckboxoff .inputcheckboxon .inputcheckboxon1 .onetimenonrepeat .span2 {
  font-size           : 11.0px;
  text-align          : justify;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .inputcheckboxoff1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 391px;
  height              : 30px;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 657px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .inputcheckboxoff1 .weekly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .inputcheckboxoff1 .monthly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .iconradiooff {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : 39px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 448px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooff .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooff .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooff .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 384px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 608px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : 39px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy2 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy2 .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradiooffcopy2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradioon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 385px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 769px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradioon .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradioon .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .iconradioon .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 33px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .choosepaymentfrequ {
  background-color    : rgba(255,255,255,0.0);
  top                 : 348px;
  height              : auto;
  width               : 460px;
  position            : absolute;
  margin              : 0;
  left                : 453px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .choosepaymentfrequ1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : auto;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 411px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 23.0px;
}
.servuspaymentpreferencesdesktop .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 577px;
  height              : 183px;
  width               : 534px;
  position            : absolute;
  margin              : 0;
  left                : 444px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 182px;
  width               : 534px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 182px;
  width               : 534px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group3 .makeapaymentwat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 147px;
  height              : 35px;
  width               : 536px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(126, 125, 118, 1.0);
  text-align          : left;
  letter-spacing      : -0.26px;
  line-height         : 14.0px;
}
.servuspaymentpreferencesdesktop .group6 .group5 .group3 .paymentamount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 457px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .group6 .group5 .group3 .a2000minimum {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : 409px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(137, 135, 135, 1.0);
  text-align          : left;
  letter-spacing      : -0.01px;
  line-height         : 13.0px;
}
.servuspaymentpreferencesdesktop .group6 .group5 .group3 .rectangle171 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 66px;
  height              : 53px;
  box-sizing          : border-box;
  width               : 217px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : 54px;
  width               : 467px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 .formselectfilled {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 53px;
  width               : 217px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 .formselectfilled .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 54px;
  position            : relative;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 .formselectfilled .group21 .rectangle172 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 .formselectfilled .group21 .triangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 10px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 .rectangle171 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1px;
  height              : 53px;
  box-sizing          : border-box;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 249px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .group6 .group5 .group4 .other {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(119, 119, 119, 1.0);
  text-align          : left;
  line-height         : 16.8px;
}
.servuspaymentpreferencesdesktop .group6 .formselectfilledcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : 52px;
  width               : 217px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1442px;
  height              : 231px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 231px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer .rectangle {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 231px;
  box-sizing          : border-box;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 95px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 872px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer .group61 .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group61 .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : auto;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group61 .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : auto;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group61 .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group61 .servus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 17px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 1302px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer .group5 .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group5 .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 90px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 614px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer .group4 .smallbusiness {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : auto;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group4 .healthcare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group4 .government {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .group4 .partners {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 41px;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .footer2 .footer .ifyouneedhelprec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 6.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .ifyouneedhelprec .span1 {
  text-align          : justify;
  line-height         : 15.0px;
}
.servuspaymentpreferencesdesktop .footer2 .footer .ifyouneedhelprec .span2 {
  font-size           : 6.0px;
  text-align          : justify;
  line-height         : 7.0px;
}
.servuspaymentpreferencesdesktop .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1610px;
  height              : 63px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1545px;
  height              : 27px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1570px;
  height              : 27px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1597px;
  height              : 27px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1545px;
  height              : 25px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1563px;
  height              : 27px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1578px;
  height              : 27px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1605px;
  height              : 19px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1453px;
  height              : 28px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 1290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1453px;
  height              : 41px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 1373px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servuspaymentpreferencesdesktop .hotspot10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 850px;
  height              : 81px;
  width               : 468px;
  position            : absolute;
  margin              : 0;
  left                : 444px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}