

.servustermsofservicedesktop {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 5795px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.servustermsofservicedesktop .websitetermsofuse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 433px;
  height              : auto;
  width               : 998px;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 8.0px;
}
.servustermsofservicedesktop .websitetermsofuse .span1 {
  line-height         : 17.0px;
}
.servustermsofservicedesktop .websitetermsofuse .span2 {
  font-size           : 8.0px;
  line-height         : 10.0px;
}
.servustermsofservicedesktop .rectangle {
  background-color    : rgba(249, 114, 114, 1.0);
  top                 : 74px;
  height              : 242px;
  box-sizing          : border-box;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.servustermsofservicedesktop .servustermsofserv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : auto;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 208px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 62.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 75.0px;
}
.servustermsofservicedesktop .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .rectangle1 {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 74px;
  box-sizing          : border-box;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 41px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 1278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .buttonprimarycopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 1358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .buttonprimarycopy2 .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  box-sizing          : border-box;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .buttonprimarycopy2 .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.servustermsofservicedesktop .header .header1 .buttonprimarycopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 1278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .buttonprimarycopy21 .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  box-sizing          : border-box;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .header .header1 .buttonprimarycopy21 .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.servustermsofservicedesktop .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 1281px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 61px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 1362px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 61px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5564px;
  height              : 231px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 231px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer .rectangle1 {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 231px;
  box-sizing          : border-box;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 95px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 872px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer .group6 .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group6 .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : auto;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group6 .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : auto;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group6 .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group6 .servus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.servustermsofservicedesktop .footer2 .footer .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 17px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 1302px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer .group5 .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.servustermsofservicedesktop .footer2 .footer .group5 .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.servustermsofservicedesktop .footer2 .footer .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 90px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 614px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer .group4 .smallbusiness {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : auto;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group4 .healthcare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group4 .government {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .group4 .partners {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.servustermsofservicedesktop .footer2 .footer .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 41px;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .footer2 .footer .ifyouneedhelprec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 6.0px;
}
.servustermsofservicedesktop .footer2 .footer .ifyouneedhelprec .span1 {
  text-align          : justify;
  line-height         : 15.0px;
}
.servustermsofservicedesktop .footer2 .footer .ifyouneedhelprec .span2 {
  font-size           : 6.0px;
  text-align          : justify;
  line-height         : 7.0px;
}
.servustermsofservicedesktop .hotspot3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5732px;
  height              : 63px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5667px;
  height              : 27px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5692px;
  height              : 27px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5719px;
  height              : 27px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5667px;
  height              : 25px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5685px;
  height              : 27px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5700px;
  height              : 27px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5727px;
  height              : 19px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 865px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5575px;
  height              : 28px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 1290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servustermsofservicedesktop .hotspot12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5575px;
  height              : 41px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 1373px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}