

.servussmallbusinessespage {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 1030px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.servussmallbusinessespage .rectangle {
  background-color    : rgba(249, 114, 114, 1.0);
  top                 : 36px;
  height              : 245px;
  box-sizing          : border-box;
  width               : 319px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.42;
}
.servussmallbusinessespage .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 245px;
  width               : 367px;
  position            : absolute;
  margin              : 0;
  left                : -31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.47;
}
.servussmallbusinessespage .group .brunonascimento255699unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 245px;
  width               : 366px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.49;
}
.servussmallbusinessespage .cashflowisthelife {
  background-color    : rgba(255,255,255,0.0);
  top                 : 202px;
  height              : auto;
  width               : 229px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 17.0px;
}
.servussmallbusinessespage .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : 28px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .signup .rectangle1 {
  background-color    : rgba(248, 114, 114, 1.0);
  top                 : 0px;
  height              : 28px;
  box-sizing          : border-box;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .signup .contactus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 859px;
  height              : 39px;
  width               : 216px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .group8 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 216px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .group8 .group7 .areyoulosingmoney {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(249, 114, 114, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 10.0px;
}
.servussmallbusinessespage .group8 .group7 .areyoulosingmoney .span1 {
  line-height         : 15.0px;
}
.servussmallbusinessespage .group8 .group7 .areyoulosingmoney .span2 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 10.0px;
  line-height         : 12.0px;
}
.servussmallbusinessespage .group8 .group7 .areyoulosingmoney .span3 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  line-height         : 12.0px;
}
.servussmallbusinessespage .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 380px;
  height              : 271px;
  width               : 313px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .group9 .a60smallbusinesses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 12.0px;
}
.servussmallbusinessespage .group9 .a60smallbusinesses .span1 {
  line-height         : 29.0px;
}
.servussmallbusinessespage .group9 .a60smallbusinesses .span2 {
  font-size           : 16.0px;
  line-height         : 19.0px;
}
.servussmallbusinessespage .group9 .a60smallbusinesses .span3 {
  font-size           : 12.0px;
  color               : rgba(249, 114, 114, 1.0);
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a60smallbusinesses .span4 {
  font-size           : 12.0px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a60smallbusinesses .span5 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a33smallbusinesses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 12.0px;
}
.servussmallbusinessespage .group9 .a33smallbusinesses .span1 {
  line-height         : 29.0px;
}
.servussmallbusinessespage .group9 .a33smallbusinesses .span2 {
  font-size           : 16.0px;
  line-height         : 19.0px;
}
.servussmallbusinessespage .group9 .a33smallbusinesses .span3 {
  font-size           : 12.0px;
  color               : rgba(249, 114, 114, 1.0);
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a33smallbusinesses .span4 {
  font-size           : 12.0px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a33smallbusinesses .span5 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a32smallbusinesses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 129px;
  height              : auto;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 12.0px;
}
.servussmallbusinessespage .group9 .a32smallbusinesses .span1 {
  line-height         : 29.0px;
}
.servussmallbusinessespage .group9 .a32smallbusinesses .span2 {
  font-size           : 16.0px;
  line-height         : 19.0px;
}
.servussmallbusinessespage .group9 .a32smallbusinesses .span3 {
  font-size           : 12.0px;
  color               : rgba(249, 114, 114, 1.0);
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a32smallbusinesses .span4 {
  font-size           : 12.0px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .group9 .a32smallbusinesses .span5 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .twothirds66of {
  background-color    : rgba(255,255,255,0.0);
  top                 : 747px;
  height              : auto;
  width               : 303px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 10.0px;
}
.servussmallbusinessespage .twothirds66of .span1 {
  
}
.servussmallbusinessespage .twothirds66of .span2 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
}
.servussmallbusinessespage .signup1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 710px;
  height              : 28px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .signup1 .rectangle1 {
  background-color    : rgba(248, 114, 114, 1.0);
  top                 : 0px;
  height              : 28px;
  box-sizing          : border-box;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .signup1 .contactus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.14px;
  line-height         : 15.0px;
}
.servussmallbusinessespage .blakewisz1554906unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : 121px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .servushelpsbusines {
  background-color    : rgba(255,255,255,0.0);
  top                 : 593px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.14px;
  line-height         : 10.0px;
}
.servussmallbusinessespage .servushelpsbusines .span1 {
  
}
.servussmallbusinessespage .servushelpsbusines .span2 {
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
}
.servussmallbusinessespage .footer2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 903px;
  height              : 127px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 127px;
  width               : 320px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .rectangle1 {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 127px;
  box-sizing          : border-box;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 64px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .group6 .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group6 .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group6 .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group6 .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group6 .servus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 10px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 252px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .group5 .signup2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group5 .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 52px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .group4 .smallbusiness {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group4 .healthcare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group4 .government {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .group4 .partners {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 8.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.servussmallbusinessespage .footer2 .footer .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 18px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .ifyouneedhelprec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 6.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 7.0px;
}
.servussmallbusinessespage .footer2 .footer .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : 16px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 10px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : 12px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 12px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 247px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 10px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 227px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 12px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .footer2 .footer .hotspot8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 10px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 228px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .rectangle1 {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 36px;
  box-sizing          : border-box;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 22px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .hotspot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .buttonprimarycopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .buttonprimarycopy2 .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  box-sizing          : border-box;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .buttonprimarycopy2 .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.servussmallbusinessespage .header .buttonprimarycopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .buttonprimarycopy21 .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  box-sizing          : border-box;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.servussmallbusinessespage .header .buttonprimarycopy21 .signup2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}