

.signupfamilyfriendinvite {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 675px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.signupfamilyfriendinvite .signupstep1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : auto;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 18.0px;
}
.signupfamilyfriendinvite .signupstep1 .span1 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
}
.signupfamilyfriendinvite .signupstep1 .span2 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
  color               : rgba(175, 173, 173, 1.0);
}
.signupfamilyfriendinvite .step2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(175, 173, 173, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 18.0px;
}
.signupfamilyfriendinvite .step3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 202px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 18.0px;
}
.signupfamilyfriendinvite .choosepaymentoptio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 213px;
  height              : auto;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 25.0px;
}
.signupfamilyfriendinvite .invitefamilyfriend {
  background-color    : rgba(255,255,255,0.0);
  top                 : 299px;
  height              : auto;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 25.0px;
}
.signupfamilyfriendinvite .step31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 163px;
  height              : auto;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 33.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
}
.signupfamilyfriendinvite .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 24px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .group .servuslogo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .signupforanaccou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : auto;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.19px;
  line-height         : 18.0px;
}
.signupfamilyfriendinvite .bank {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.8px;
}
.signupfamilyfriendinvite .familyfriends {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 166px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.8px;
}
.signupfamilyfriendinvite .iconradiooffcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 255px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 255px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy2 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy2 .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradiooffcopy2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradioon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 255px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradioon .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradioon .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconradioon .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 259px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 277px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 281px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.15px;
  line-height         : 15.0px;
}
.signupfamilyfriendinvite .buttonprimarycopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 476px;
  height              : 50px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .buttonprimarycopy2 .rectangle17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  box-sizing          : border-box;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .buttonprimarycopy2 .cancel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.signupfamilyfriendinvite .ifyoucanusethis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 558px;
  height              : auto;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.15px;
  line-height         : 13.0px;
}
.signupfamilyfriendinvite .ifyoucanusethis .span1 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
  line-height         : 16.0px;
}
.signupfamilyfriendinvite .ifyoucanusethis .span2 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
  line-height         : 8.0px;
}
.signupfamilyfriendinvite .ifyoucanusethis .span3 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
  letter-spacing      : -0.17px;
  line-height         : 16.0px;
  text-decoration     : underline;
}
.signupfamilyfriendinvite .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : 62px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .group2 .forminputempty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 39px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .group2 .forminputempty .rectangle17 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 39px;
  box-sizing          : border-box;
  width               : 276px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(119, 119, 119, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .group2 .enteremailaddresse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 15.0px;
}
.signupfamilyfriendinvite .buttonprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 404px;
  height              : 50px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .buttonprimary .rectangle17 {
  background-color    : rgba(119, 119, 119, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .buttonprimary .sendinvite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.8px;
}
.signupfamilyfriendinvite .rectangle {
  background-color    : rgba(0, 0, 0, 0.66);
  top                 : 0px;
  height              : 656px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : 246px;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .rectangle1 {
  background-color    : rgba(7, 7, 7, 1.0);
  top                 : 0px;
  height              : 36px;
  box-sizing          : border-box;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(5, 5, 5, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .servuslogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 22px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 125px;
  height              : 246px;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 130px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 250px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconclose .bounds {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .iconclose .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.signupfamilyfriendinvite .invitesent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : auto;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 22.0px;
}
.signupfamilyfriendinvite .youu2019reontheroadt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 191px;
  height              : auto;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.21px;
  line-height         : 16.0px;
}
.signupfamilyfriendinvite .yourfamilyandorf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : auto;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : -0.21px;
  line-height         : 13.0px;
}
.signupfamilyfriendinvite .hotspot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 675px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}